.info-s {
  display: flex;
  align-items: start;
  position: relative;

  .img-gallery {
    margin-left: 219px;
    display: flex;
    flex-direction: column;

    img {
      width: 610px;
      height: 511px;
      gap: 0px;
      opacity: 0px;

      object-fit: cover;
      object-position: top;
    }
  }

  .box {
    margin-left: 100px;
    margin-top: 80px;

    .title {
      display: block;
      justify-content: start;

      h1 {

        font-size: 30px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;

      }

      h2 {
        margin-left: -1px;
        margin-top: 16px;
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;

      }
    }

    .size {
      display: block;
      justify-content: start;

      h1 {
        margin-left: -237px;
        margin-top: 43px;
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;

      }

      .butens {
        button {
          width: 63px;
          height: 45px;
          top: 1147px;
          left: 1228px;
          margin-left: 12px;
          gap: 0px;
          background: #fff;
          border: 1px solid black;
          opacity: 0px;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.05em;
          text-align: center;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.05em;
          text-align: center;

          &:hover {
            background: #000;
            color: #fff;
            transition: 0.7s;
          }
        }


      }
    }

    .color {

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin-left: 9px;
      margin-top: 10px;

      h1 {
        margin-top: 20px;

        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        color: #1D1F22;
        margin-bottom: 8px;
      }

      .color-butons {

        top: 1242px;
        left: 1003px;
        gap: 8px;
        opacity: 0px;
        display: flex;


        .grey {
          background: #D3D2D5;
          width: 32px;
          height: 32px;
          top: 2px;
          left: 2px;
          gap: 0px;
          opacity: 0px;
          cursor: pointer;
        }

        .black {
          cursor: pointer;

          background: #000;
          width: 32px;
          height: 32px;
          top: 2px;
          left: 84px;
          gap: 0px;
          opacity: 0px;

        }

        .green {
          background: #0F6450;
          width: 32px;
          height: 32px;
          top: 2px;
          left: 84px;
          gap: 0px;
          opacity: 0px;
          cursor: pointer;

        }


      }
    }

    .price {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin-left: 9px;
      margin-top: 10px;

      h1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        margin-bottom: 15px;
      }

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;

      }

    }

    .add {
      margin-top: 30px;
      width: 292px;
      height: 52px;
      top: 1408px;
      left: 1003px;
      padding: 16px 32px 16px 32px;
      gap: 0px;
      opacity: 0px;
      color: #fff;
      background: #5ECE7B;

      font-size: 17px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: center;

    }

    p {
      width: 292px;
      height: 103px;
      top: 1500px;
      left: 1003px;
      gap: 0px;
      opacity: 0px;
      font-size: 16px;
      font-weight: 400;
      line-height: 25.59px;
      text-align: left;
      margin-top: 40px;
    }
  }

}